<a href="/pets">Pets</a><br/><br/>

<%= link_to 'Add New Shelter', '/shelters/new' %>

<% @shelters.each do |shelter| %>
  <h2><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h2>
  <a href="/shelters/<%= shelter.id %>/edit">Edit</a><br/>
  <%= link_to 'Delete Shelter', "/shelters/#{shelter.id}", method: :delete %>
<% end %>
