<h1>Friend's Pet Shop</h1>
<br/>
<%= link_to 'Add New Shelter', '/shelters/new' %>

<% @shelters.each do |shelter| %>
  <h2><%= shelter.name %></h2>

  <p>
    <%= shelter.address %><br/>
    <%= shelter.city%>, <%= shelter.state %> <%= shelter.zip %>
  </p>
<% end %>