<a href="/shelters">Home Page</a>

<h1><%= @shelter.name %></h1>

<p>
  <%= @shelter.address %><br/>
  <%= @shelter.city%>, <%= @shelter.state %> <%= @shelter.zip %>
</p>

<a href="/shelters/<%= @shelter.id %>/edit">Edit</a>
