<a href="/shelters">Shelters</a><br/>
<a href="/pets">Pets</a><br/><br/>

<h1><%= @shelter.name %></h1>

<p>
  <%= @shelter.address %><br/>
  <%= @shelter.city%>, <%= @shelter.state %> <%= @shelter.zip %>
</p>
<a href="/shelters/<%= @shelter.id %>/edit">Edit</a><br/>
<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %><br/><br/>

<%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %><br/>

<%= link_to 'Pets', "/shelters/#{@shelter.id}/pets" %>

