<div class='nav-section'>
<a href="/shelters">Shelters</a><br/>
<a href="/pets">Pets</a><br/>
</div>
<br/>
<%= form_tag "/pets/#{@pet.id}", method: :patch do%>
  <%= label_tag :image %>
  <%= text_field_tag(:image, @pet.image) %>
  <%= label_tag :name %>
  <%= text_field_tag(:name, @pet.name) %>
  <%= label_tag :description %>
  <%= text_area_tag(:description, @pet.description) %>
  <%= label_tag :age %>
  <%= number_field_tag(:approximate_age, @pet.approximate_age) %>
  <%= label_tag :gender %>
  <%= text_field_tag(:sex, @pet.sex) %>
  <%= label_tag "Adoptable(Y/N)" %>
  <%= text_field_tag(:adoptable, @pet.adoptable) %>

  <%= submit_tag 'Update Pet' %>
<% end %>