<a href="/shelters">Shelters</a><br/>

<h1>Pets</h1>

<% @pets.each do |pet| %>
  <h2><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h2>
  <%= image_tag pet.image, style: "max-height: 200px; max-width: 200px" %>
  <p>
    Age: <%= pet.approximate_age%><br/>
    Gender: <%= pet.sex %><br/>
    Shelter: <a href="/shelters/<%= pet.shelter.id %>"><%= pet.shelter.name %></a>
  </p>
<% end %>
